<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.railway.dao.LoginUserTokenDo">

    <select id="getUserToken" resultType="com.admin.railway.domain.LoginUserToken">
        select user_id,token,time_out,time FROM login_user_token
        <where>
            <if test="token != null and token != ''">
                and token = #{token}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="com.admin.railway.domain.LoginUserToken">
        insert into login_user_token(user_id,token,time_out,time) values (#{userId},#{token},#{timeOut},#{time})
    </insert>

    <update id="update" parameterType="com.admin.railway.domain.LoginUserToken">
        update login_user_token set token=#{token},time_out=#{timeOut},time=#{time} where user_id=#{userId}
    </update>
</mapper>