<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.railway.dao.OrderDao">

    <select id="get" resultType="com.admin.railway.domain.OrderDO">
		select `id`,`train_no`,`start_station_id`,`start_station_name`,`end_station_id`,`end_station_name`,`consignor`,`consignee`,`product_name`,`train_type`,`project_no`,`loading_line`,`description`,`person_ids`,`person_names`,`continue_shot`,`order_start_time`,`order_end_time`,`order_state`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user` from tbl_order where id = #{value}
	</select>

    <select id="listTask" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT id, train_no AS trainNo, start_station_id AS startStationId, start_station_name AS startStationName, end_station_id AS endStationId , end_station_name AS endStationName, consignor AS consignor, consignee AS consignee, product_name AS productName, train_type AS trainType , project_no AS projectNo, loading_line AS loadingLine, description AS description, person_ids AS personIds, person_names AS personNames , continue_shot AS continueShot
		FROM tbl_order WHERE FIND_IN_SET(#{personId}, person_ids) AND order_state = 1
	</select>

    <select id="list" resultType="com.admin.railway.domain.OrderDO">
        select
        `id`,`train_no`,`start_station_id`,`start_station_name`,`end_station_id`,`end_station_name`,`consignor`,`consignee`,`product_name`,`train_type`,`project_no`,`loading_line`,`description`,`person_ids`,`person_names`,`continue_shot`,`order_start_time`,`order_end_time`,`order_state`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user`
        from tbl_order
        <where>
            <choose>
                <when test="uploadWay != null">
                    upload_way = #{uploadWay}
                </when>
            </choose>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="trainNo != null and trainNo != ''">and train_no = #{trainNo}</if>
            <if test="startStationId != null and startStationId != ''">and start_station_id = #{startStationId}</if>
            <if test="startStationName != null and startStationName != ''">and start_station_name =
                #{startStationName}
            </if>
            <if test="endStationId != null and endStationId != ''">and end_station_id = #{endStationId}</if>
            <if test="endStationName != null and endStationName != ''">and end_station_name = #{endStationName}</if>
            <if test="consignor != null and consignor != ''">and consignor = #{consignor}</if>
            <if test="consignee != null and consignee != ''">and consignee = #{consignee}</if>
            <if test="productName != null and productName != ''">and product_name = #{productName}</if>
            <if test="trainType != null and trainType != ''">and train_type = #{trainType}</if>
            <if test="projectNo != null and projectNo != ''">and project_no = #{projectNo}</if>
            <if test="loadingLine != null and loadingLine != ''">and loading_line = #{loadingLine}</if>
            <if test="description != null and description != ''">and description = #{description}</if>
            <if test="personIds != null and personIds != ''">and person_ids = #{personIds}</if>
            <if test="personNames != null and personNames != ''">and person_names = #{personNames}</if>
            <if test="continueShot != null and continueShot != ''">and continue_shot = #{continueShot}</if>
            <if test="orderStartTime != null and orderStartTime != ''">and order_start_time = #{orderStartTime}</if>
            <if test="orderEndTime != null and orderEndTime != ''">and order_end_time = #{orderEndTime}</if>
            <if test="orderState != null and orderState != ''">and order_state = #{orderState}</if>
            <if test="delState != null and delState != ''">and del_state = #{delState}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
            <if test="modifyTime != null and modifyTime != ''">and modify_time = #{modifyTime}</if>
            <if test="modifyUser != null and modifyUser != ''">and modify_user = #{modifyUser}</if>
            <!-- 前端查询根据时间查询 -->
            <if test="beginTime != null and beginTime != ''">and create_time &gt;= #{beginTime}</if>
            <if test="endTime != null and endTime != ''">and create_time &lt;= #{endTime}</if>
            <choose>
                <when test="sort != null and sort.trim() != ''">
                    order by ${sort} ${order}
                </when>
                <otherwise>
                    order by create_time desc
                </otherwise>
            </choose>
        </where>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="gettimelist" resultType="com.admin.railway.domain.OrderDO">
        select
        `id`,`train_no`,`start_station_id`,`start_station_name`,`end_station_id`,`end_station_name`,`consignor`,`consignee`,`product_name`,`train_type`,`project_no`,`loading_line`,`description`,`person_ids`,`person_names`,`continue_shot`,`order_start_time`,`order_end_time`,`order_state`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user`
        from tbl_order
        <where>
            <choose>
                <when test="uploadWay != null">
                    upload_way = #{uploadWay}
                </when>
            </choose>
            <if test="startStationId != null and startStationId != ''">and start_station_id = #{startStationId}</if>
        </where>
        GROUP BY substr(create_time,1,10) order by create_time desc
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from tbl_order where upload_way = 0
        <if test="id != null and id != ''">and id = #{id}</if>
        <if test="trainNo != null and trainNo != ''">and train_no = #{trainNo}</if>
        <if test="startStationId != null and startStationId != ''">and start_station_id = #{startStationId}</if>
        <if test="startStationName != null and startStationName != ''">and start_station_name =
            #{startStationName}
        </if>
        <if test="endStationId != null and endStationId != ''">and end_station_id = #{endStationId}</if>
        <if test="endStationName != null and endStationName != ''">and end_station_name = #{endStationName}</if>
        <if test="consignor != null and consignor != ''">and consignor = #{consignor}</if>
        <if test="consignee != null and consignee != ''">and consignee = #{consignee}</if>
        <if test="productName != null and productName != ''">and product_name = #{productName}</if>
        <if test="trainType != null and trainType != ''">and train_type = #{trainType}</if>
        <if test="projectNo != null and projectNo != ''">and project_no = #{projectNo}</if>
        <if test="loadingLine != null and loadingLine != ''">and loading_line = #{loadingLine}</if>
        <if test="description != null and description != ''">and description = #{description}</if>
        <if test="personIds != null and personIds != ''">and person_ids = #{personIds}</if>
        <if test="personNames != null and personNames != ''">and person_names = #{personNames}</if>
        <if test="continueShot != null and continueShot != ''">and continue_shot = #{continueShot}</if>
        <if test="orderStartTime != null and orderStartTime != ''">and order_start_time = #{orderStartTime}</if>
        <if test="orderEndTime != null and orderEndTime != ''">and order_end_time = #{orderEndTime}</if>
        <if test="orderState != null and orderState != ''">and order_state = #{orderState}</if>
        <if test="delState != null and delState != ''">and del_state = #{delState}</if>
        <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        <if test="createUser != null and createUser != ''">and create_user = #{createUser}</if>
        <if test="modifyTime != null and modifyTime != ''">and modify_time = #{modifyTime}</if>
        <if test="modifyUser != null and modifyUser != ''">and modify_user = #{modifyUser}</if>

        <!-- 前端查询根据时间查询 -->
        <if test="beginTime != null and beginTime != ''">and create_time &gt;= #{beginTime}</if>
        <if test="endTime != null and endTime != ''">and create_time &lt;= #{endTime}</if>
    </select>

    <insert id="save" parameterType="com.admin.railway.domain.OrderDO" useGeneratedKeys="true" keyProperty="id">
		insert into tbl_order
		(
			`id`, 
			`train_no`, 
			`start_station_id`, 
			`start_station_name`, 
			`end_station_id`, 
			`end_station_name`, 
			`consignor`, 
			`consignee`, 
			`product_name`, 
			`train_type`, 
			`project_no`, 
			`loading_line`, 
			`description`, 
			`person_ids`, 
			`person_names`, 
			`continue_shot`, 
			`order_start_time`, 
			`order_end_time`, 
			`order_state`, 
			`del_state`, 
			`create_time`, 
			`create_user`, 
			`modify_time`, 
			`modify_user`,
			`upload_way`
		)
		values
		(
			#{id}, 
			#{trainNo}, 
			#{startStationId}, 
			#{startStationName}, 
			#{endStationId}, 
			#{endStationName}, 
			#{consignor}, 
			#{consignee}, 
			#{productName}, 
			#{trainType}, 
			#{projectNo}, 
			#{loadingLine}, 
			#{description}, 
			#{personIds}, 
			#{personNames}, 
			#{continueShot}, 
			#{orderStartTime}, 
			#{orderEndTime}, 
			#{orderState}, 
			#{delState}, 
			#{createTime}, 
			#{createUser}, 
			#{modifyTime}, 
			#{modifyUser},
			#{uploadWay}
		)
	</insert>

    <update id="update" parameterType="com.admin.railway.domain.OrderDO">
        update tbl_order
        <set>
            <if test="trainNo != null">`train_no` = #{trainNo},</if>
            <if test="startStationId != null">`start_station_id` = #{startStationId},</if>
            <if test="startStationName != null">`start_station_name` = #{startStationName},</if>
            <if test="endStationId != null">`end_station_id` = #{endStationId},</if>
            <if test="endStationName != null">`end_station_name` = #{endStationName},</if>
            <if test="consignor != null">`consignor` = #{consignor},</if>
            <if test="consignee != null">`consignee` = #{consignee},</if>
            <if test="productName != null">`product_name` = #{productName},</if>
            <if test="trainType != null">`train_type` = #{trainType},</if>
            <if test="projectNo != null">`project_no` = #{projectNo},</if>
            <if test="loadingLine != null">`loading_line` = #{loadingLine},</if>
            <if test="description != null">`description` = #{description},</if>
            <if test="personIds != null">`person_ids` = #{personIds},</if>
            <if test="personNames != null">`person_names` = #{personNames},</if>
            <if test="continueShot != null">`continue_shot` = #{continueShot},</if>
            <if test="orderStartTime != null">`order_start_time` = #{orderStartTime},</if>
            <if test="orderEndTime != null">`order_end_time` = #{orderEndTime},</if>
            <if test="orderState != null">`order_state` = #{orderState},</if>
            <if test="delState != null">`del_state` = #{delState},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="createUser != null">`create_user` = #{createUser},</if>
            <if test="modifyTime != null">`modify_time` = #{modifyTime},</if>
            <if test="modifyUser != null">`modify_user` = #{modifyUser}</if>,
            <if test="uploadWay != null">`upload_way` = #{uploadWay}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from tbl_order where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from tbl_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getOrder" resultType="com.admin.railway.domain.OrderDO"
            parameterType="com.admin.railway.domain.OrderDO">
        select
        `id`,`train_no`,`start_station_id`,`start_station_name`,`end_station_id`,`end_station_name`,`consignor`,`consignee`,`product_name`,`train_type`,`project_no`,`loading_line`,`description`,`person_ids`,`person_names`,`continue_shot`,`order_start_time`,`order_end_time`,`order_state`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user`
        from tbl_order
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="trainNo != null and trainNo != ''">and train_no = #{trainNo}</if>
            <if test="createTime != null">and DATE_FORMAT(create_time,'%Y-%m-%d') =
                DATE_FORMAT(#{createTime},'%Y-%m-%d')
            </if>
        </where>
    </select>

</mapper>