<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.railway.dao.PictureDao">

	<select id="get" resultType="com.admin.railway.domain.PictureDO">
		select `id`,`order_id`,`train_no`,`person_id`,`thum_url`,`url`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user` from tbl_picture where id = #{value}
	</select>

	<select id="list" resultType="com.admin.railway.domain.PictureDO">
		select `id`,`order_id`,`train_no`,`person_id`,`thum_url`,`url`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user` from tbl_picture
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="trainNo != null and trainNo != ''"> and train_no = #{trainNo} </if>
		  		  <if test="personId != null and personId != ''"> and person_id = #{personId} </if>
		  		  <if test="thumUrl != null and thumUrl != ''"> and thum_url = #{thumUrl} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="delState != null and delState != ''"> and del_state = #{delState} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUser != null and modifyUser != ''"> and modify_user = #{modifyUser} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tbl_picture
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="orderId != null and orderId != ''"> and order_id = #{orderId} </if>
		  		  <if test="trainNo != null and trainNo != ''"> and train_no = #{trainNo} </if>
		  		  <if test="personId != null and personId != ''"> and person_id = #{personId} </if>
		  		  <if test="thumUrl != null and thumUrl != ''"> and thum_url = #{thumUrl} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="delState != null and delState != ''"> and del_state = #{delState} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUser != null and modifyUser != ''"> and modify_user = #{modifyUser} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.admin.railway.domain.PictureDO">
		insert into tbl_picture
		(
			`id`, 
			`order_id`, 
			`train_no`, 
			`person_id`, 
			`thum_url`, 
			`url`, 
			`del_state`, 
			`create_time`, 
			`create_user`, 
			`modify_time`, 
			`modify_user`
		)
		values
		(
			#{id}, 
			#{orderId}, 
			#{trainNo}, 
			#{personId}, 
			#{thumUrl}, 
			#{url}, 
			#{delState}, 
			#{createTime}, 
			#{createUser}, 
			#{modifyTime}, 
			#{modifyUser}
		)
	</insert>
	 
	<update id="update" parameterType="com.admin.railway.domain.PictureDO">
		update tbl_picture 
		<set>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="trainNo != null">`train_no` = #{trainNo}, </if>
			<if test="personId != null">`person_id` = #{personId}, </if>
			<if test="thumUrl != null">`thum_url` = #{thumUrl}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="delState != null">`del_state` = #{delState}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="modifyTime != null">`modify_time` = #{modifyTime}, </if>
			<if test="modifyUser != null">`modify_user` = #{modifyUser}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from tbl_picture where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tbl_picture where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>