<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.railway.dao.StationDao">

	<select id="get" resultType="com.admin.railway.domain.StationDO">
		select `id`,`name`,`type`,is_bottom,`station_code`,`sta_pys`,`parent_id`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user` from tbl_station where id = #{value}
	</select>
	<select id="getByParentId" resultType="com.admin.railway.domain.StationDO">
		select `id`,`name`,`type`,is_bottom,`station_code`,`sta_pys`,`parent_id`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user` from tbl_station where parent_id = #{parentId}
	</select>

	<select id="list" resultType="com.admin.railway.domain.StationDO">
		select `id`,`name`,`type`,is_bottom,`station_code`,`sta_pys`,`parent_id`,`del_state`,`create_time`,`create_user`,`modify_time`,`modify_user`,`sta_pys` from tbl_station
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="stationCode != null and stationCode != ''"> and station_code = #{stationCode} </if>
		  		  <if test="staPys != null and staPys != ''"> and sta_pys = #{staPys} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="isBottom != null and isBottom != ''"> and is_bottom = #{isBottom} </if>
		  		  <if test="delState != null and delState != ''"> and del_state = #{delState} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUser != null and modifyUser != ''"> and modify_user = #{modifyUser} </if>
		  		  
		  		  <if test="keyword != null and keyword != ''"> and (name like CONCAT('%',#{keyword},'%') or station_code like CONCAT('%',#{keyword},'%') or sta_pys like CONCAT('%',#{keyword},'%') )  </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from tbl_station
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="stationCode != null and stationCode != ''"> and station_code = #{stationCode} </if>
		  		  <if test="staPys != null and staPys != ''"> and sta_pys = #{staPys} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="delState != null and delState != ''"> and del_state = #{delState} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUser != null and createUser != ''"> and create_user = #{createUser} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUser != null and modifyUser != ''"> and modify_user = #{modifyUser} </if>
		  		  
		  		  <if test="keyword != null and keyword != ''"> and (name like CONCAT('%',#{keyword},'%') or station_code like CONCAT('%',#{keyword},'%') or sta_pys like CONCAT('%',#{keyword},'%') )  </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.admin.railway.domain.StationDO">
		insert into tbl_station
		(
			`id`, 
			`name`, 
			`type`,
			`station_code`,
			`sta_pys`,
			`parent_id`, 
			`del_state`, 
			`create_time`, 
			`create_user`, 
			`modify_time`, 
			`is_bottom`, 
			`modify_user`
		)
		values
		(
			#{id}, 
			#{name}, 
			#{type}, 
			#{stationCode}, 
			#{staPys},
			#{parentId}, 
			#{delState}, 
			#{createTime}, 
			#{createUser}, 
			#{modifyTime}, 
			#{isBottom}, 
			#{modifyUser}
		)
	</insert>
	 
	<update id="update" parameterType="com.admin.railway.domain.StationDO">
		update tbl_station 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="stationCode != null">`station_code` = #{stationCode}, </if>
			<if test="staPys != null">`sta_pys` = #{staPys},</if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="delState != null">`del_state` = #{delState}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUser != null">`create_user` = #{createUser}, </if>
			<if test="is_bottom != null">`create_user` = #{isBottom}, </if>
			<if test="modifyTime != null">`modify_time` = #{modifyTime}, </if>
			<if test="modifyUser != null">`modify_user` = #{modifyUser},</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateState" parameterType="java.util.HashMap">
		update tbl_station set del_state = #{delState},modify_time = #{modifyTime},modify_user = #{modifyUser} where parent_id = #{parentId}
	</update>

	<delete id="remove">
		delete from tbl_station where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from tbl_station where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>