<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>照片查看</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/railway/css/imglist.css">
    <link rel="stylesheet" href="/railway/css/lookphoto.css">
</head>
<body>
<div style="padding-top: 20px">
    <div>
        <input type="hidden" id="id" name="id" th:value="${id}">
        <a class="layui-btn layui-btn-primary" onclick="javascript:history.back(-1);"><i class="layui-icon">&#xe65a;</i>
            返 回 </a>
        <table class="layui-table" id="list"></table>
    </div>
    <div class="layui-form-pane" style="text-align: right">
        <button type="button" class="layui-btn layui-btn-normal" title="导出图片" onclick="exportPic()"> 导 出 </button>
        <button type="button" class="layui-btn layui-btn-danger" title="删除图片" onclick="selCheckBox()"> 删 除 </button>
    </div>
    <div class="layui-form-pane">
        <ul class="listul">
        </ul>
    </div>
</div>

<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/plugins/layer/layer.js"></script>
<script src="/js/layui.js"></script>
<!-- 图片查看需要的js -->
<script src="/railway/js/lookphoto.js"></script>
<script src="/railway/js/jquery.rotate.min.js"></script>
<script src="/railway/photoManage/viewPhoto.js"></script>
</body>
</html>